# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
backend/.env
frontend/.env

# Build files
frontend/build/
frontend/dist/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db